.quote {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-weight: bold;
}

/* Question answer: 30px */
.quotes-section {
    font-size: 10px;
}
/* Questions answer: The em font-size changes relative to the px so it is 1.5*px */

p {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}